body{
  font-size: 24px;
}
.checkbox_1{
  display: flex;
  justify-content: left;
}
.checkbox_2{
  display: flex;
  justify-content: left;
}

div.heading {
  font-size: 50px;
}
div.red {
  color: red;
}